variables:
  STORE_DIR: "${CI_PROJECT_DIR}/.cabal-store"
  CASSANDRA_HOST: cassandra

cache:
  key: "$CI_JOB_NAME"
  paths:
    - .cabal-store
    - dist-newstyle/cache

services:
  - cassandra:3.11.2

before_script:
  - apt -qq update
  - cabal update

test:9.4:
  image: haskell:9.4
  script:
    - apt -qq -y install build-essential libssl-dev > /dev/null
    - cabal --store-dir=$STORE_DIR test

test:9.2:
  image: haskell:9.2
  script:
    - apt -qq -y install build-essential libssl-dev > /dev/null
    - cabal --store-dir=$STORE_DIR test

test:9.0:
  image: haskell:9.0
  script:
    - apt -qq -y install build-essential libssl-dev > /dev/null
    - cabal --store-dir=$STORE_DIR test

test:8.10:
  image: haskell:8.10
  script:
    - apt -qq -y install build-essential libssl-dev > /dev/null
    - cabal --store-dir=$STORE_DIR test

test:8.8:
  image: haskell:8.8
  script:
    - apt -qq -y install build-essential libssl-dev > /dev/null
    - cabal --store-dir=$STORE_DIR test

test:8.6:
  image: haskell:8.6
  script:
    - apt -qq -y install build-essential libssl-dev > /dev/null
    - cabal --store-dir=$STORE_DIR new-test

test:8.4:
  image: haskell:8.4
  script:
    - apt -qq -y install build-essential libssl-dev > /dev/null
    - cabal --store-dir=$STORE_DIR new-test
